@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.button-container {
    width: 10%;
}

.buttons {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.buttons:hover {
    background-color: #36cf48;
}